/* theme colors */
/* line 1, ../../theme/sass/_autocomplete.scss */
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
/* line 30, ../../theme/sass/_autocomplete.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}
/* line 39, ../../theme/sass/_autocomplete.scss */
.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans Narrow"), local("PTSans-Narrow"), url(fonts/UyYrYy3ltEffJV9QueSi4RdbPw3QSf9R-kE0EsQUn2A.woff) format("woff");
}

@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Narrow Bold"), local("PTSans-NarrowBold"), url(fonts/Q_pTky3Sc3ubRibGToTAYiylde52zikAzebNtJS89aM.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url(fonts/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 700;
  src: local("Lobster Two Bold"), local("LobsterTwo-Bold"), url(fonts/bmdxOflBqMqjEC0-kGsIiDqR_3kx9_hJXbbyU8S6IN0.woff) format("woff");
}

/* line 4, ../../theme/sass/_theme.scss */
body {
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  min-width: 960px;
        /*
	top:0;
	left:0;
	position:absolute;
	height:100%;
	width:100%;
	margin:0;
	background-size:cover;
        */
}

/* line 18, ../../theme/sass/_theme.scss */
.ie body {
  filter: dropshadow(color=black, offx=0, offy=1);
}

/* line 21, ../../theme/sass/_theme.scss */
h1 {
  font-size: 68px;
  letter-spacing: -2px;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  font-family: 'Lobster Two', cursive;
  text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
}

/* line 30, ../../theme/sass/_theme.scss */
.ie h1 {
  filter: dropshadow(color=black, offx=0, offy=3);
  padding-bottom: 12px;
}

/* line 35, ../../theme/sass/_theme.scss */
.ie h2 {
  filter: dropshadow(color=black, offx=0, offy=3);
}

/* line 38, ../../theme/sass/_theme.scss */
h3 {
  font-size: 25px;
  margin: 0.2em 0;
}

/* line 42, ../../theme/sass/_theme.scss */
.ie h3 {
  filter: dropshadow(color=black, offx=0, offy=3);
}

/* line 45, ../../theme/sass/_theme.scss */
h4 {
  margin-bottom: 5px;
}

/* line 48, ../../theme/sass/_theme.scss */
p, pre {
  margin: 0 0 10px 0;
}

/* line 51, ../../theme/sass/_theme.scss */
code {
  text-transform: uppercase !important;
  color: #EEE;
  border-bottom: 1px dotted #666;
}

/* line 56, ../../theme/sass/_theme.scss */
small {
  background: url(../img/alpha.png);
  background: rgba(0, 0, 0, 0.8) url();
  border: 1px solid #111;
  font-size: 15px;
  padding: 0 5px;
}

/* line 63, ../../theme/sass/_theme.scss */
a {
  color: rgba(255, 255, 255, 0.57);
  text-decoration: none;
}

/* line 67, ../../theme/sass/_theme.scss */
a:hover {
  color: #BBB;
}

/* line 70, ../../theme/sass/_theme.scss */
#header {
  margin-bottom: 32px;
  position: relative;
  width: 100%;
}

/* line 76, ../../theme/sass/_theme.scss */
#weatherResults {
  max-width: 938px;
  margin: 0 auto;
}
/* line 79, ../../theme/sass/_theme.scss */
#weatherResults h2 {
  display: inline-block;
  margin: 25px 0 45px;
  padding: 0px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  line-height: 36px;
}
/* line 89, ../../theme/sass/_theme.scss */
#weatherResults h3 {
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  display: block;
  clear: both;
}
/* line 96, ../../theme/sass/_theme.scss */
#weatherResults div div:first-child {
  text-align: center;
}
/* line 99, ../../theme/sass/_theme.scss */
#weatherResults .styled {
  margin-bottom: 30px;
}
/* line 101, ../../theme/sass/_theme.scss */
#weatherResults .styled div {
  display: inline-block;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 3px;
  width: 120px;
  padding: 10px 30px 25px;
  background: rgba(0, 0, 30, 0.2);
  text-shadow: none;
  vertical-align: middle;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  text-shadow: 2px 2px rgba(12, 11, 11, 0.56);
}
/* line 116, ../../theme/sass/_theme.scss */
#weatherResults .styled div:first-child {
  margin-left: 0;
}
/* line 119, ../../theme/sass/_theme.scss */
#weatherResults .styled div span {
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.36);
  padding-top: 3px;
  font-size: 40%;
  font-weight: normal;
  text-align: center;
}
/* line 126, ../../theme/sass/_theme.scss */
#weatherResults .styled div span sup {
  font-size: x-small;
}
/* line 129, ../../theme/sass/_theme.scss */
#weatherResults .styled div span span {
  font-size: 120%;
}

/* line 136, ../../theme/sass/_theme.scss */
* + html .styled div {
  display: inline;
  zoom: 1;
}

/* line 141, ../../theme/sass/_theme.scss */
#form-weather-input {
  width: 320px;
  margin: 0 auto;
}
/* line 144, ../../theme/sass/_theme.scss */
#form-weather-input p {
  text-align: center;
}
/* line 147, ../../theme/sass/_theme.scss */
#form-weather-input input#city_names {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  vertical-align: middle;
  width: 200px;
  border: 1px solid rgba(255, 255, 255, 0.76);
  padding: 0 10px;
  height: 40px;
}
/* line 157, ../../theme/sass/_theme.scss */
#form-weather-input input[type="button"] {
  background: white;
  width: auto;
  padding: 0px 25px;
  cursor: pointer;
  margin-left: -5px;
  font-weight: bold;
  height: 42px;
  display: inline-block;
  color: #1a82f7;
}
/* line 169, ../../theme/sass/_theme.scss */
#form-weather-input .row span:first-child {
  font-size: smaller;
  padding: 5px;
  display: block;
}

/* line 179, ../../theme/sass/_theme.scss */
.callback,
.simple {
  font-size: 20px;
  background: #27ae60;
  padding: 0.5em 0.7em;
  color: #ecf0f1;
  margin-bottom: 50px;
  -webkit-transition: background 0.5s ease-out;
  transition: background 0.5s ease-out;
}

/* line 188, ../../theme/sass/_theme.scss */
.callback {
  cursor: pointer;
}

/* line 191, ../../theme/sass/_theme.scss */
.ended {
  background: #c0392b;
}

/* line 195, ../../theme/sass/_theme.scss */
.intro {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  /* line 202, ../../theme/sass/_theme.scss */
  body {
    min-width: initial !important;
  }

  /* line 205, ../../theme/sass/_theme.scss */
  .styled div {
    margin-bottom: 10px;
  }
}
@media (max-width: 420px) {
  /* line 210, ../../theme/sass/_theme.scss */
  h1 {
    float: initial;
    text-align: center;
  }

  /* line 214, ../../theme/sass/_theme.scss */
  .styled div {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    width: 80px;
    border-radius: 80px;
    height: 80px;
  }

  /* line 223, ../../theme/sass/_theme.scss */
  #weatherResults h2 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    text-align: center;
    font-size: 29px;
    font-weight: 300;
  }

  /* line 230, ../../theme/sass/_theme.scss */
  .styled {
    margin-bottom: 30px;
  }

  /* line 233, ../../theme/sass/_theme.scss */
  #form-weather-input input[type="button"] {
    margin-top: 10px;
  }

  /* line 236, ../../theme/sass/_theme.scss */
  #form-weather-input input {
    width: 80%;
  }

  /* line 239, ../../theme/sass/_theme.scss */
  footer {
    position: relative !important;
  }
}
